/* Main colors */
$lightBlue: #82D5FF;
$darkenBlue: #498FB3;
$coral: #FF9CA5;

/* Box Properties */
$sm-padding: 15px;

/* Links */
$light-green: #bde2c4;
$green: #74CC64;

$twitter: #00A6F0;
$linkedin: #007BB6;

$light-white: rgba(255,255,255,0.5);