@import "variables";

html {}

/*  */
body {
  background-color: $darkenBlue;
}

/*  */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 3rem;
  }
  figure {
    display: flex;
    justify-content: space-around;
  }

  nav {
    z-index: 1;
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    border-top: thick solid $coral;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

    background-color: $lightBlue;
    color: $darkenBlue;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: scroll;

      li {
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 5px;
        margin: 5px;

        a {
          display: flex;
          align-items: center;
          color: $darkenBlue;
          padding: 10px;

          border-radius: 25%;
          background-color: antiquewhite;
          box-shadow: 0 5px $darkenBlue;

          &:link {    color: $darkenBlue;  }
          &:visited {    color: $darkenBlue;  }
          &:hover {
            background-color: $darkenBlue;
            box-shadow: 0 5px white;
            color: white;
          }
          &:active {
            transform: translateY(5px);
            box-shadow: none;
          }
        }
      }
    }
  }
}

.show-label,
.hide-label
{
  z-index: 1;
  display: flex;
  position: absolute;
  top: -57px;
  right: 0;
  color: $darkenBlue;
  padding: 10px;

  border-radius: 5%;
  background-color: $light-white;
  box-shadow: 0 5px $coral;

  cursor: pointer;
}
#show:checked ~ #show-label {
  display: none;
}
#show:checked ~ #hide-label {
  display: flex;
}

#hide:checked ~ #user-menu {
  display: none;
}
#show:checked ~ #user-menu {
  display: flex;
}

#hide-label {
  display: none;
}


.hide-input,
.show-input
{
  display: none;
}

.user-menu {
  position: absolute;
  flex-direction: row;
  align-items: flex-start;

  padding: 5px;
  border-radius: 5%;
  background-color: $coral;
  top: -117px;
  right: 0;

  img {
    width: border-box;
  }

  .fa-circle {
    color: $green;
  }
}



/*  */
nav {
  font-size: 2rem;
  user-select: none;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;

  }
}




/*  */
section {
  padding: $sm-padding;
  //background-color: $darkenBlue;
  //color: $lightBlue;
  font-family: 'Mina', sans-serif;
}

/*  */
main {}

/*  */
article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;

  figure {
    align-self: center;
    margin: 3rem 0 3rem 0;
    border-radius: 5%;
    box-shadow: 2px 5px 0 $lightBlue;

    figcaption {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

/*  */
aside {}

/*  */
footer {
  padding-bottom: 10rem;

  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;

    //border: thick outset $darkenBlue;
    //background-color: $lightBlue;
    color: $darkenBlue;
    //text-shadow: 1px 2px 0 $darkenBlue;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin: 15px;

      a {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Aleo', serif;
}
figure {
  margin: 0;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
  font-family: 'Gaegu', cursive;

  //&:link {    color: $light-green;  }
  //&:visited {    color: $light-green;  }
}

// Social links
.fa-github,
.fa-twitter,
.fa-linkedin,
.fa-codepen,
.fa-circle-notch
{
  border-radius: 25%;
  background-color: white;
  border: 3px solid;
  padding: 5px;
  box-shadow: 0 5px $light-green;

  &:hover {
    padding: 7px;
    border: 0;
    color: white;
  }
  &:active {
    transform: translateY(5px);
  }
}

.fa-twitter {
  color: $twitter;

  &:hover {
    background-color: $twitter;
  }
}

.fa-linkedin {
  color: $linkedin;
  &:hover {
    background-color: $linkedin;
  }
}

.fa-github,
.fa-codepen,
.fa-circle-notch
{
  color: black;

  &:hover {
    background-color: black;
  }
}

.sm-img {width: 80px;}
.text-nav {display: none;}


/* Media mobile screen */
@media screen and (min-width: 479px) {}
/* Media tablet screen */
@media screen and (min-width: 959px) {}
/* Media desktop screen */
@media screen and (min-width: 1281px) {}