@charset "UTF-8";
/* Main colors */
/* Box Properties */
/* Links */
/* Keyframe fade */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* webkit Keyframe fade */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*  */
body {
  background-color: #498FB3;
  margin: 0;
}

/*  */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #82D5FF;
  border-bottom: thick solid #FF9CA5;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
header:hover {
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
}
header h1 {
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 2px 0 grey;
}
header h1:hover {
  text-shadow: 1px 2px 0 #575757;
}
header figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header figure img:hover {
  box-shadow: 2px 2px 1px #FF9CA5;
}
header figure figcaption {
  font-family: "Mina", sans-serif;
  font-style: italic;
}
header nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: thick solid #FF9CA5;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: #82D5FF;
  color: #498FB3;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5px;
  margin: 5px;
}
header nav ul li a {
  display: flex;
  align-items: center;
  color: #498FB3;
  padding: 10px;
  border-radius: 25%;
  background-color: white;
  box-shadow: 0 5px #498FB3;
}
header nav ul li a:link {
  color: #498FB3;
}
header nav ul li a:visited {
  color: #498FB3;
}
header nav ul li a:hover {
  background-color: #498FB3;
  box-shadow: 0 5px white;
  color: white;
}
header nav ul li a:active {
  transform: translateY(5px);
  box-shadow: none;
}
header nav .show-label,
header nav .hide-label {
  z-index: 1;
  display: flex;
  position: absolute;
  top: -57px;
  right: 0;
  color: #498FB3;
  padding: 10px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px #FF9CA5;
  cursor: pointer;
}
header nav #show:checked ~ #show-label {
  display: none;
}
header nav #show:checked ~ #hide-label {
  display: flex;
}
header nav #hide:checked ~ #user-menu {
  display: none;
}
header nav #show:checked ~ #user-menu {
  display: flex;
}
header nav #hide-label {
  display: none;
}
header nav .hide-input,
header nav .show-input {
  display: none;
}
header nav .user-menu {
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  border-radius: 5%;
  background-color: #FF9CA5;
  top: -117px;
  right: 0;
}
header nav .user-menu .fa-circle {
  color: #74CC64;
}
@media screen and (min-width: 479px) {
  header figure {
    flex-direction: row;
    justify-content: space-around;
  }
  header figure figcaption {
    font-size: 1.5rem;
  }
  header nav ul {
    justify-content: space-around;
  }
}
@media screen and (min-width: 959px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
  }
  header h1 {
    color: #FF9CA5;
  }
}

/*  */
nav {
  font-size: 2rem;
  user-select: none;
}
nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*  */
section {
  padding: 15px;
  font-family: "Mina", sans-serif;
}

/* Slider btn control style */
.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.controls input {
  display: none;
}
.controls label {
  font-size: 50px;
  cursor: pointer;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
}
.controls .prev:hover {
  border-radius: 0 15px;
  box-shadow: -20px 0 10px 5px rgba(0, 0, 0, 0.5);
}
.controls .play:hover {
  border-radius: 0 200px 200px 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.controls .pause:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.controls .next:hover {
  border-radius: 15px 0;
  box-shadow: 20px 0 10px 5px rgba(0, 0, 0, 0.5);
}

.fade {
  animation: fade 1.5s;
  -webkit-animation: fade 1.5s;
}

/*  */
/*  */
article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
article .picture {
  flex-direction: column;
  align-items: center;
}
article .picture img {
  width: 100%;
}
article a {
  font-size: 1.5rem;
  font-family: "Font Awesome 5 Free", "Gaegu", serif;
}
article a:link {
  color: lightcoral;
  text-decoration: underline #82D5FF 2px;
}
article a:visited {
  color: #FF9CA5;
}
article a:hover {
  text-decoration: underline wavy #82D5FF 2px;
}
article a:hover:after {
  content: "";
  color: #82D5FF;
}
article a:active:after {
  content: "";
}
article figure {
  display: flex;
  align-self: center;
  margin: 3rem 0 3rem 0;
  border-radius: 5%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}
article figure:hover img {
  transform: rotateX(-180deg);
}
article figure:hover figcaption {
  transform: rotateX(0deg);
}
article figure img {
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}
article figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  background-color: grey;
  color: #ffffff;
}
@media screen and (min-width: 959px) {
  article {
    flex-direction: row;
    justify-content: space-between;
  }
  article figure {
    width: 25%;
    justify-content: center;
    margin: 1rem;
  }
  article figure figcaption a {
    font-size: 100%;
  }
}

/*  */
/*  */
footer {
  background: -moz-linear-gradient(to right, #FF9CA5 0%, rgba(255, 255, 255, 0), #FF9CA5 100%);
  background: -webkit-linear-gradient(to right, #FF9CA5 0%, rgba(255, 255, 255, 0), #FF9CA5 100%);
  background: linear-gradient(to right, #FF9CA5 0%, rgba(255, 255, 255, 0), #FF9CA5 100%);
  margin-bottom: 10rem;
  padding-top: 5px;
}
footer nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #498FB3;
}
footer nav ul li {
  margin: 15px;
}
footer nav ul li a {
  display: flex;
  justify-content: space-around;
}
footer nav ul li a:link {
  color: black;
}
footer nav ul li a:visited {
  color: #82D5FF;
}
footer nav ul li a:hover {
  color: #FF9CA5;
  text-shadow: 0 1px 0 white;
}
footer nav ul li a:active {
  transform: translateY(1px);
  text-shadow: none;
}
footer .fa-github,
footer .fa-twitter,
footer .fa-linkedin,
footer .fa-codepen,
footer .fa-circle-notch {
  border-radius: 25%;
  background-color: white;
  border: 3px solid;
  padding: 5px;
  box-shadow: 0 5px #bde2c4;
}
footer .fa-github:hover,
footer .fa-twitter:hover,
footer .fa-linkedin:hover,
footer .fa-codepen:hover,
footer .fa-circle-notch:hover {
  color: white;
}
footer .fa-github:active,
footer .fa-twitter:active,
footer .fa-linkedin:active,
footer .fa-codepen:active,
footer .fa-circle-notch:active {
  transform: translateY(5px);
  box-shadow: none;
}
footer .fa-twitter {
  color: #00A6F0;
}
footer .fa-twitter:hover {
  background-color: #00A6F0;
}
footer .fa-linkedin {
  color: #007BB6;
}
footer .fa-linkedin:hover {
  background-color: #007BB6;
}
footer .fa-github,
footer .fa-codepen,
footer .fa-circle-notch {
  color: black;
}
footer .fa-github:hover,
footer .fa-codepen:hover,
footer .fa-circle-notch:hover {
  background-color: black;
}
@media screen and (min-width: 959px) {
  footer nav {
    flex-direction: row;
    padding: 1rem;
  }
  footer nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer nav ul li h4 {
    font-size: 2rem;
    box-shadow: 2rem 0.5rem #82D5FF;
    border-radius: 50%;
  }
}

ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}
ul .sign-up,
ul .sign-in {
  padding: 1rem;
  margin: 1rem;
}
ul .form fieldset ul {
  display: flex;
  flex-direction: column;
}
ul .form fieldset ul li {
  display: flex;
  flex-direction: column;
}
ul #radio-signin:checked ~ #signin {
  display: flex;
  justify-content: center;
}
ul #radio-signin:checked ~ .sign-in {
  color: #FF9CA5;
  font-size: 2rem;
  box-shadow: 0.1rem 0.5rem 1rem #FF9CA5;
  border-radius: 50%;
}
ul #radio-signup:checked ~ #signup {
  display: flex;
  justify-content: center;
}
ul #radio-signup:checked ~ .sign-up {
  color: #82D5FF;
  font-size: 2rem;
  box-shadow: 0.1rem 0.5rem 1rem #82D5FF;
  border-radius: 50%;
}
ul #signin,
ul #signup {
  display: none;
  margin: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mina", "Aleo", sans-serif;
  text-align: center;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  font-family: "Gaegu", cursive;
}

.sm-img {
  width: 80px;
}

.text-nav {
  display: none;
}

.hide {
  display: none;
}

/* Media mobile screen */
/* Media tablet screen */
@media screen and (min-width: 959px) {
  .slider {
    flex-direction: column;
  }
  .slider .controls {
    justify-content: space-evenly;
  }
}
/* Media desktop screen */
