{% extends "layout/template.twig" %}

{% block description %}Developer contact by form{% endblock %}

{% block title %}Contact page{% endblock %}

{% block content %}
  <h1>Contact form</h1>
  <form id="form" method="get" action="{{ url('contact!mail') }}" enctype="text/plain">
    <ul>
      <li>
        <label for="first_name">First Name</label>
        <input id="first_name" type="text" placeholder="First name" name="first_name" required>
      </li>

      <li>
        <label for="last_name">Last Name</label>
        <input id="last_name" type="text" placeholder="Name" name="last_name" required>
      </li>

      <li>
        <label for="email">E-mail</label>
        <input id="email" type="email" placeholder="Mail" name="email" required>
      </li>

      <li>
        <label for="subject">Subject</label>
        <input id="subject" type="text" placeholder="Subject" name="subject"required>
      </li>

      <li>
        <label for="contents">Content</label>
        <textarea id="contents" placeholder="Content" name="content" rows="6" required></textarea>
      </li>

      <li>
        <input type="submit" id="submit" value="Send">
      </li>
    </ul>
  </form>
  <div id="msg"><div>
{% endblock %}

{% block script %}

<script>
  var submit = document.getElementById('submit');
  var msg = document.getElementById('msg');

  var request = new XMLHttpRequest();

  request.onreadystatechange = function() {
    if(request.readyState === 4) {
      msg.style.border = '1px solid #e8e8e8';
      if(request.status === 200) {
        msg.innerHTML = request.responseText;
      } else {
        msg.innerHTML = 'An error occurred during your request: ' +  request.status + ' ' + request.statusText;
      }
    }
  }
  request.open('Get', 'https://matthias-geslin.fr/public/allow.txt');

  submit.addEventListener('click', function() {
    this.style.display = 'none';
    request.send();
  });

</script>
{% endblock %}
