{% extends "layout/template.twig" %}

{% block description %}Toutes mes créations jusqu'à présent sont affichées sur cette page.{% endblock %}

{% block title %}Mes créations{% endblock %}

{% block content %}
    <h2>Mes Créations</h2>
    <article>
        {% for creation in creations %}
        <figure>
            <a href=""><img src="" alt="{{ creation.name }}"></a>
            <figcaption><a href="{{ creation.link }}" title="{{ creation.name }}" target="_blank">{{ creation.description }}</a></figcaption>
        </figure>
        {% endfor %}
    </article>
{% endblock %}