{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin Portfolio Home. Relative content about me, links for my social media, my creations and certifications.{% endblock %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Contenu</h1>
    <p>
        Nam sagittis, augue et volutpat condimentum, mauris velit convallis dui, eget porttitor velit urna vitae velit. Fusce sodales massa odio, ut fringilla ligula mollis ut. Ut a elit ornare justo tincidunt maximus facilisis at felis. Morbi luctus finibus nunc ac congue. In at ligula quis turpis porta ultrices a nec dolor. Mauris ullamcorper dui vel euismod auctor. Etiam in elementum sapien, id condimentum sem. Sed eu nisl eu nulla rhoncus facilisis. Praesent ullamcorper hendrerit sem ut porttitor. Nunc lectus sem, aliquet nec erat non, dapibus finibus nibh. Donec vitae ipsum sed dolor eleifend malesuada ut eget ligula. Duis elementum interdum neque, vel convallis sem tincidunt at. In ut ante dolor. Vivamus ut sapien nunc.

        Nam vel porta nisi. Ut pulvinar feugiat lorem quis porttitor. Morbi tempus erat ipsum, et porta ex lacinia et. Morbi euismod, orci tincidunt semper semper, lacus dui vulputate purus, vitae vestibulum nulla ligula quis ligula. Sed non ex sapien. Mauris efficitur justo ut tellus porta luctus. Vestibulum sodales dignissim nulla sodales convallis. Quisque eget justo sed libero ullamcorper mattis vitae non arcu. Suspendisse potenti. Maecenas velit lectus, facilisis et orci in, eleifend posuere justo. Nulla mollis lorem dictum lectus pulvinar, ut dictum augue convallis. Sed quis ullamcorper erat.
    </p>
{% endblock %}