<footer id="footer">
    <nav>
        <ul>
            <li><h4>Me retrouver sur :</h4></li>
            <li><a href="https://github.com/Matthias-Geslin/Portfolio" title="Github" target="_blank">Github <i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/Matthiasgeslin" title="Twitter" target="_blank">Twitter <i class="fab fa-twitter"></i></a></li>
        </ul>
        <ul>
            <li><h4>Plan du site :</h4></li>
            {{ include('layout/nav.twig') }}
        </ul>
    </nav>
</footer>
