<footer id="footer">
    <nav>
        <ul>
            <li><h4><i class="far fa-id-card"></i> Find me on:</h4></li>
            <li><a href="https://github.com/Matthias-Geslin/Portfolio" title="Github" target="_blank">Github <i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/Matthiasgeslin" title="Twitter" target="_blank">Twitter <i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/matthias-geslin" title="Linkedin" target="_blank">Linkedin <i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://codepen.io/matthias-geslin" title="Codepen" target="_blank">Codepen <i class="fab fa-codepen"></i></a></li>
            <li><a href="https://www.codacy.com/manual/Matthias-Geslin/Portfolio" title="codacy" target="_blank">Codacy <i class="fas fa-circle-notch"></i></a></li>
        </ul>
        <ul>
            <li><h4>Site map:</h4></li>
            {{ include('layout/nav.twig') }}
        </ul>
    </nav>
</footer>
